<div class="container">
    <div class="row">
        <div class="col-md-12 mb-2">
            <button class="btn btn-success" (click)="onNewRecipe()">New Meal</button>
        </div>
    </div> 
    <div class="letters" >
        <ng-container *ngFor="let letter of letters$ | async as letters">
            <div class="box">
              <a (click)="listAllMeals(letter)" >{{letter}}</a> 
            </div>
        </ng-container>
    </div>
 <div *ngIf="showMessage">
    <h2>No meals found</h2>
 </div>
    <div class="row justify-content-between" *ngIf="!showMessage" >
        <div class="col-5" >
            <app-table [columns]="columns" [gridData]="meals" [filteredData]="filteredMeals"></app-table> 
        </div>    
        <div class="col-5">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>





