.banner {
    background-image: url(../../../assets/hermes-rivera-Ww8eQWjMJWk-unsplash.jpg);
    height: 200px;
    background-size: cover;
    background-position: center;
}

.food-categories, 
.national-dishes{ 
    cursor: pointer;
}



