<div class="search-content mb-5">
    <input type="text" #searchTerm placeholder="Search by Ingredients">
    <button type="button" (click)="searchByIngredients(searchTerm.value)">Search</button>
</div>
<form [formGroup]="form">
    <table formArrayName="columns">
         <tr >
            <th *ngFor="let col of columns; let i = index"  [formGroupName]="i">
                {{col.title}}<i (click)="sort(col.field)" class="fa fa-sort" aria-hidden="true"></i>    
                <input *ngIf="col.field !== 'strMealThumb'" type="text" formControlName="name">
            </th>
        </tr>
        <tr *ngFor="let data of filteredData | orderBy: key : reverse | paginate: { itemsPerPage: 5, currentPage: p} " >
            <td *ngFor="let col of columns" >
                <span *ngIf="col.field !== 'strMealThumb'" >{{data[col.field]}}</span>  
                <img *ngIf="col.field === 'strMealThumb'" [src]="data.strMealThumb" alt="">
            </td>
            <td><button class="btn btn-success" [routerLink]="[data.idMeal]">Details</button></td>
        </tr>
    </table>
</form>
    <div class="mt-5">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>           
