<div class="search-content mb-5">
    <input type="text" #searchTerm placeholder="Search by Ingredients">
    <button type="button" (click)="search(searchTerm.value)">Search</button>
</div>
<form [formGroup]="form">
    <table formArrayName="columns">
         <tr >
            <th *ngFor="let col of columns; let i = index"  [formGroupName]="i">
                {{col.title}}<i (click)="sort()" class="fa fa-sort" aria-hidden="true"></i>    
                <input *ngIf="col.field !== 'strMealThumb'" type="text" formControlName="name">
            </th>
        </tr>
        <tr *ngFor="let data of filteredData">
            <td *ngFor="let col of columns">
                <span *ngIf="col.field !== 'strMealThumb'" >{{data[col.field]}}</span>  
                <img *ngIf="col.field === 'strMealThumb'" [src]="data.strMealThumb" alt="">
            </td>
            <td><button class="btn btn-success" [routerLink]="[data.idMeal]">Details</button></td>
        </tr>
    </table>
</form>
<div>
    {{pageData.start + 1}} <span>-</span> {{pageData.end}} of {{size}}
</div>
<button (click)="prev()">Prev</button>
<button (click)="next()">Next</button>
